# Replace this with the OAuth token generated at Dropbox 
# (https://www.dropbox.com/developers/apps)
TOKEN=

# Replace to target a specific Dropbox subfolder. 
# Recommended that you leave this empty because a Dropbox app will use a 
# custom directory.
folder=

# Replace to target a local folder for sync.
rootdir=/mnt/usbdrive0